body {
    margin: 0;
    padding: 0;
    font-family: Calibri, Arial, sans-serif;
}

.container {
    height: 100vh;
    margin: 0 auto;
    width: 1050px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    justify-content: center;
    align-items: center;
}

header h1 {
    display: flex;
    margin: 0;
}

.tech {
    display: flex;
    width: 100%;
}

.tech .oneOfThree {
    height: 20px;
    background-image: url(../img/top.svg);
    background-repeat: no-repeat;
}

main {
    display: flex;
    width: 100%;
    height: calc(100vh - 160px);
    box-sizing: border-box;
    flex-basis: 100%;
    flex-direction: row;
}

.content {
    overflow-y: auto;
}

main .oneOfThree {
    margin-left: 5px;
    border-left: 1px solid;
    border-right: 1px solid;
}

.content::-webkit-scrollbar {
    width: 3px;
}

.content::-webkit-scrollbar-track {
    background: rgb(231, 231, 231);
}

.content::-webkit-scrollbar-thumb {
    background-color: rgb(94, 94, 94);
    border-radius: 3px;
}

footer {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    height: 100px;
    flex-direction: row;
}

.oneOfThree {
    display: flex;
    padding-left: 5px;
    width: 350px;
}

footer .oneOfThree {
    align-items: center;
    background-image: url(../img/bottom.svg);
    background-repeat: no-repeat;
    height: 100%;
}

footer h3 {
    margin-top: 35px;
    padding: 0;
}

img {
    margin: 10px 35px 0 20px;
}

/* style for item */

.item {
    border-bottom: 1px dotted gray;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.item:last-child {
    border-bottom: none;
}

.itemTitle_link {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.itemTitle_link:hover {
    text-decoration: underline;
}

.item h4 {
    margin: 3px 0 10px;
}

.item p {
    margin: 5px 0;
}

.itemImg {
    width: 100%;
    margin: 0 auto;
}

/* end style for item */