body {
    margin: 0;
    padding: 0;
    font-family: Calibri, Arial, sans-serif;
}

.container {
    height: 100vh;
    margin: 0 auto;
    border: 1px solid black;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid red;
    height: 50px;
    justify-content: center;
    align-items: center;
}

header h1 {
    display: flex;
    margin: 0;
}

main {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid blue;
    flex-basis: 100%;
    flex-direction: row;
}

.content {
    overflow-y: scroll;
}

footer {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid green;
    height: 100px;
    flex-direction: row;
}

.oneOfThree {
    display: flex;
    padding: 0 5px;
    width: 300px;
    height: 100%;
    border: 1px solid rgb(51, 255, 0);
}

footer .oneOfThree {
    align-items: center;
}

img {
    margin: 0 15px;
}