body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
header {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    border-bottom: 1px solid;
    z-index: 9999;
    background: cornsilk;
}

.header_button {
    width: 80px;
}


#map {
    width: 100vw;
    height: 100vh;
    background: #cdf;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;  
}

.info {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 0;
    right: 0;
    width: 500px;
    min-height: 100vh;
    z-index: 10000;
    background-color: aquamarine;
    overflow-y: scroll;
    height: -webkit-fill-available;
    padding: 10px;;
}

.hidden {
    display: none;
}

.st3 {
    cursor: pointer;
}

.innerImage {
    width: 100%;
}

.info ul {
    list-style: none;
}